<html>
<head>
	<title>Index Chemachow</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "css/estilos.css" %}">
</head>
<body>
	<header>
		<img src="https://si0.twimg.com/profile_images/3679326021/daf1c363bdebd8d09c407865e611f16b_bigger.jpeg" alt="Chematrix" class="avatar size73">
		<h1>Chemachow</h1>
	</header>
	<section id="content">
		<p> Our template is loaded into the variable t, and the context—that is, the variable values we want to pass to our template—is bound to the variable c. We then tell the template to render itself within the context c. In this particular example, we aren't passing any variables in the context, so it is represented by an empty dictionary.</p>
	</section>
</body>
</html>